body{
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffcf00;
    border: 10px;
}
p {
    margin: 48px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
    font-size: 18px;
}
img{
width: 325px;
height: 600px;
}
div, p {
    margin: 48px;
}