body{
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border: 10px;
}
img{
width: 415px;
height: 600px;
padding: 10px;
}
div {
    margin: 48px;
}